@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    color: black;
}

.colorfondoazul{
    background-color: green;
}



.logo {
    max-width: 70px; /* Ajusta el valor según lo necesites */
    margin-left: 50px;
  }

  /*html del index-main*/
  
  .colorverdeh1{
   color: black;
    margin-top: 20px;
    text-align: center;
  }
  .parrafo1{
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(25, 42, 222);
  }

  .colorverdeh2{
    color:black;
    text-align: center;
  }
  .tituloh2{
    text-align: center;
    margin-top: 30px;
    color: black;
  }

  .parrafo2{
    margin-top:20px;
  }
  .titulodevideoh3{
    color: red;
    margin-top: 10px;
  }
  .videoh3{
    text-align: center;
    margin-top: 20px;
  }

  /*footer redes*/
  .redes{
    background-color: rgba(184, 11, 11, 0.911);
    text-align: center;
    
  }

  /*htmlNosotros- main*/
  .titulo1nosotros{
    text-align: center;
    margin-top: 20px;
  }
  .subtituloh2nosotros{
    text-align: center;
    margin-top: 10px;
  }
  .ph2-nosotros{
    margin-top: 20px;
  }
  .imgh2-nosotros{
    text-align: center;
  }

  .tituloproposito{
    background-color:rgb(180, 88, 27); 
    text-align: center;
    margin-top: 50px;
  }
  .t3-nosotros{
    background-color:rgb(180, 88, 27);  
    text-align: center;
    margin-top: 40px;

  }
  .imgh3-nosotros{
   text-align: center;
   width: 500px;
   margin-left: 300px;
   image-rendering: optimizeQuality;
  }
  .parrafoantesdelvideo{
    margin-top: 20px;
  }
  .titulovideo-nosotros{
    background-color:rgb(210, 210, 62); 
    text-align: center;
  }
  .video-container{
    text-align: center;
  }
  .nosotroselfinal{
    text-align: center;
  }
   /*html de galeria*/
   .h1img{
    margin: 40px;
   }
   /*esapcio entre todos las img y parrafos*/
   .espacioN{
    margin-bottom: 30px;
   }